:root {
  --lblack: #424242;
  --lgreen: #a4cf9b;
  --lblue: #61dafb;
  --grey: #dadada;
  --white: #fff;
  --dgreen: #5a874f;
  --dblack: #222222;
}

.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding-top: 50px;
}

.sort-container {
  margin-top: 100px;
  margin-bottom: 20px;
}

.blog-posts-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.blog-post {
  background-color: var(--dblack);
  border-radius: 5px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25);
  margin: 10px;
  padding: 20px;
  width: 50vw;
  max-width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: var(--grey);
  text-align: center;
}

.blog-title {
  margin-top: 0;
  color: var(--lgreen);
}

.blog-author {
  font-size: 0.8em;
  font-style: italic;
}

.blog-post span {
  color: var(--lblue);
}

.blog-created {
  font-size: 0.8em;
}

.blog-content {
  margin-top: 10px;
  flex-grow: 1;
  overflow: auto;
  line-height: 21px;
}

@media screen and (max-width: 768px) {
  .blog-post {
    max-width: 100vw;
  }
}
