:root {
  --lblack: #424242;
  --lgreen: #a4cf9b;
  --lblue: #61dafb;
  --grey: #dadada;
  --white: #fff;
  --dgreen: #5a874f;
  --dblack: #222222;
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--lblack);
  color: var(--white);
}

.title {
  font-size: 3rem;
  margin-bottom: 0.2rem;
  font-weight: bold;
}

.title span {
  color: var(--lgreen);
}

.description {
  margin-bottom: 1rem;
  font-size: 1.2rem;
}

.projects-container {
  display: flex;
  justify-content: center;
  width: calc(50% * 6);
  max-width: 100%;
  transition: transform 0.5s ease-in-out;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: var(--dblack);
  padding: 1rem;
  border-radius: 5px;
  width: calc(50% - 1rem);
  margin-bottom: 2rem;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.project img {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 1rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
}

.project h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.project p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: var(--grey);
}

.project a {
  color: var(--white);
  text-decoration: none;
}

.project a:hover {
  text-decoration: underline;
}

.arrow-container {
  position: absolute;
  top: 70%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 50%;
}

.arrow {
  cursor: pointer;
  color: var(--white);
  font-size: 4rem;
  margin: 1rem;
}

.arrow.previous {
  left: 0;
}

.arrow.next {
  right: 0;
}

/* Mobile */
@media (max-width: 950px) {
  .arrow-container {
    width: 100%;
  }
  .description {
    display: none;
  }
  .title {
    display: none;
  }
  .project {
    width: calc(80% - 1rem);
  }
}

@media (max-width: 600px) {
}
